<div class="center hero-unit">
  <h1>Welcome to Siteseer</h1>

  <h2> Use Siteseer to plan your trip well  </h2>

  <%= image_tag("plan.png", alt: "Planner") %>

  <br> <br>
  <% if !user_signed_in? %>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

